# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Ignore Streamlit secrets
.streamlit/secrets.toml

# Ignore datasets and models (optional if you don’t want to push them)
data/
models/
